footer {
	display: flex;

	justify-content: flex-end;

	min-height: 10vh;
	width: 100vw;

	padding: 0 32px 24px;

	@media screen and (max-width: 640px) {
		justify-content: center;

		padding-bottom: 40px;
	}
}

#rules__button-open {
	display: flex;
	align-items: center;

	font-weight: 500;

	min-height: 40px;

	letter-spacing: 0.2em;

	text-transform: uppercase;

	padding: 0 32px;

	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;

	box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.25);

	transition: 200ms ease-in-out;

	&:hover {
		color: #000;

		box-shadow: none;

		background-color: #fff;

		cursor: pointer;
	}
}
